@using TomiSoft.ProductCatalog.BusinessModels

@{
    ViewData["Title"] = "Details";
    LocalizedProductBM product = ViewBag.Product;
}

<script type="text/javascript">
    function uploadProductImage(barcode) {
        document.frmUploadProductImage.barcode.value = barcode;
        document.frmUploadProductImage.imageUploadField.click();
    }
</script>

<h1 class="display-4">@product.LocalizedName</h1>

<div class="row">
    <div class="col-12">
        <p>
            <b>Kategória:</b>
            <a href="/Product/GetProductsInCategory?categoryId=@product.Category.CategoryId&languageCode=hu-HU">@product.Category.LocalizedName</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="#" onclick="uploadProductImage('@product.Barcode')" class="btn btn-lg btn-success">Kép feltöltése</a>
    </div>
</div>

<form method="post" name="frmUploadProductImage" action="/Product/AddImage" enctype="multipart/form-data" style="display: none;">
    <input type="file" name="imageUploadField" onchange="document.frmUploadProductImage.submit();" />
    <input type="hidden" name="barcode" />
</form>